*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.main{
    
    height: 100vh;
    padding: 0;
    margin:0 auto;
    display:inline;
    

}

.navigationbar{
    background-color:black;
    height: 100px;
    display:flex;
    justify-content:center;
    align-items: center;
    

}
.navigationbar .logo{
    min-width: 50px;
    min-height: 50px;
    margin-left: 3cm;
    margin-right: auto;

    
}
.navigationbar .list{
    margin-left: auto;
}

ul{
    display: flex;
    
    
}
ul li{
    padding-right: 25px;
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    color:white;
    font-size: 24pt;

}
ul li a:hover{
    font-size: 30pt;
    transition: .4s;
    color:#ff4f54;
}
.body{
    height:580px;
    background-image: url(./back.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
 
}
.footer{
    height: 100px;
    background-color: #ff4f54;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
}
.foto{
    max-height: 300px;

}
.ermanfoto{
    height:300px;
    border-radius: 10px;
}
.teksti{
    height: 300px;
    max-width:  700px;
    color:white;
    font-size: 14pt;
}
h3{
    font-size: 18pt;
}
span{
    font-style: italic;
}